.owner__dashboard__body__navbar {
  background-image: url(https://images.wallpaperscraft.com/image/tent_camping_mountains_166927_1280x720.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
