


.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__ad{
    margin-top: 40px;
    margin-bottom: 10px;
}


.checkout__title{
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}


.cart__link{
    color: white;
}


.checkout__right{
    margin-top: -1%;
    margin-left: 65%;
    position: absolute;
}

.checkout__left{
    width: 60%;
}