.sub__setting > label {
  font-size: 12px;
}

.sub__setting > button {
  background: none;
  position: absolute;
  color: black;
  padding: 6px;
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  /* transition: transform 80ms ease-in; */
  width: 7vw;
  margin: 1vh;
}

#delete {
  width: 12vw;
  position: fixed;
  left: 45vw;
  color: white;
  background: #ff4b2b;
}

#delete:hover {
  background: transparent;
  color: black;
}

.selected__input__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 487px;
}

.selected__input__form__button {
  background: none;
  color: black;
  padding: 6px;
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  /* transition: transform 80ms ease-in; */
  width: 9vw;
  margin: 1vh;
}

.selected__input__form__button:hover {
  background: #ff4b2b;
  color: white;
}

.selected__input__form > label {
  font-weight: bolder;
}

.selected__input__form > input {
  background-color: #eee;
  width: 60%;
  text-align: center;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  border-radius: 20px;
}

.selected__input__form > span {
  font-weight: bolder;
  font-size: 19px;
  cursor: pointer;
  padding-bottom: 12px;
}

#Account__setting__popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  /* transition: 0.5s; */
}

#Account__setting__popup.active {
  background-color: white;
  top: 50%;
  visibility: visible;
  opacity: 1;
  /* transition: 0.5s; */
  padding: 49px;
}

.sub__setting#Account__setting__blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sub__setting > input {
  cursor: no-drop;
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 92%;
  border-radius: 20px;
}

.sub__setting > button:hover {
  background: #ff4b2b;
}
