.root {
  display: flex;
}

.root__img {
  position: relative;
  top: 25vh;
  width: 60vh;
}

.root__form {
  background-color: #f7f8fc;
  color: #2b4359;
  position: relative;
  width: 41%;
  height: 125vh;
  top: 2vh;
  left: 21vw;
}

.sub__inputs {
  width: 33vw !important;
}

.sub__para {
  margin-top: -15vh !important;
}

.root__form > input {
  position: relative;
  left: 4vw;
  top: -1vh;
  width: 14vw;
  height: 6vh;
  border-radius: 28px;
  border: 0.5px solid;
}

.third__inputs {
  width: 33vw !important;
}

.root__form > p {
  position: relative;
  left: 5vw;
  margin-top: 8vh;
}

#already {
  color: blue;
  position: relative;
  top: 2vh;
  left: 14vw;
}

#last__input {
  left: 23vw;
  top: -20vh;
}

.root__form > button {
  color: white;
  background: #5357ff;
  position: relative;
  top: 3vh;
  right: -11vw;
  width: 20vw;
  border-radius: 20px;
  height: 6vh;
  cursor: pointer;
}

#last__p {
  left: 24vw;
  top: -20vh;
}
